@import "tailwindcss";

:root {
  --background: #FEFFEF;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #FEFFEF;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  margin: 3.375rem 5.125rem 3.4375rem 5.125rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-header);
}
