@import "tailwindcss";

:root {
  --background: #FEFFEF;
  --foreground: #171717;
}

@theme {
  --color-primary: #ECEDDE;
  --color-secondary: #484848;
  --color-ternary: #D7D7D7;
  --color-background: #FEFFEF;
  --color-true: #C5FFC7;
  --color-false: #FFBCBC;

  
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  margin: 3.375rem 5.125rem 3.4375rem 5.125rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-header);
}
